name: "Validations"

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

env:
  FORCE_COLOR: true

jobs:

  Validations:
    # Note: changing this job name requires making the same update in the .github/workflows/release.yaml pipeline
    name: "Validations"
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #v6.0.2
        with:
          persist-credentials: false

      - name: Bootstrap environment
        uses: ./.github/actions/bootstrap

      - name: Run all validations
        run: make pr-validations
